<div class="row g-0 w-100">
  
  <!-- NAV : 100% sur mobile, se met à gauche (col-md-3) sur grand écran -->
  <div class="col-12 col-md-3">
    <app-nav class="w-100"></app-nav>
  </div>

  <!-- ARTICLE : 100% sur mobile, au milieu (col-md-6) sur grand écran -->
  <div class="col-12 col-md-7">
    <app-article class=""></app-article>
  </div>

  <!-- ASIDE CONTAINER : 100% sur mobile, à droite (col-md-3) sur grand écran -->
  <div class="col-12 col-md-2">
    <app-aside-container class="w-100"></app-aside-container>
  </div>

</div>